body{
    background-color: rgb(57, 57, 131);
}

h1{
    background-color:skyblue;
    color:blue;
    border: 2px solid blue;
    text-align: center;
    font-size: 50px;
    border-radius: 50px;
    font-style: italic;
}